@import "bootstrap";

ul#pref-list {
  li {
    float: left;
    margin-top: 15px;
    text-align: center;
    list-style: none;
    width: 95px;
    line-height: 1.1;
    border-right: 1px solid #dee2e6;

    &.right {
      border-right: none;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
